<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="index.js"></script>

</head>
<body>
<div class="container" ng-controller="indexController">
  <h3>Product List</h3>
  <table class="table table-hover">
      <tr>
          <td>Id</td>
          <td>Title</td>
          <td>Price</td>
          <td>Action</td>
      </tr>
      <tbody>
      <tr ng-repeat="p in ProductList">
          <td>{{p.id}}</td>
          <td>{{p.title}}</td>
          <td>
              <button class="btn btn-primary" ng-click="changePrice(p.id, -5)">-</button>
              {{p.price}}
              <button class="btn btn-primary" ng-click="changePrice(p.id, 5)">+</button>
          </td>
          <td>
              <button class="btn btn-danger" ng-click="deleteProduct(p.id)">Delete</button>
          </td>
      </tr>
      </tbody>

  </table>
</div>
</body>
</html>